.socialSignin{
    margin:1rem auto 0;

}
.links{
    display:block;
    width:100%;
    margin:1.5rem auto 0;
    a{
        color:black;
    }
}

.error{
    li{
        list-style: none;
        font-size: 1.6rem;
        color:rgb(172, 9, 9);
    }
}
